차원을 텐서라고 합니다.